body {
    background-color: aqua;
}

p {
    font-size: 30px;
    color: blue;
}

h1 {
    text-decoration: underline;
    color: red;
}

h3 {
    text-decoration: underline;
    color: red;
}

li {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: purple;
}

#fname
{
    color:red;
}

#lname
{
    color:blue;
}

#Lorem
{
    color:coral;
    font-family: 'Courier New', Courier, monospace;
}