  @media only screen and (max-width: 1000px) {
    body {
      background-color:darkred;
    }
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  
/* Container #1 */
.navBar {
    display: flex;
    border: solid;
    flex-direction: row; /* row is the default */
    width: 80vw;
/*    justify-content:space-around; */
/*    flex-direction: row-reverse;
    flex-wrap: wrap; */
}


/* Container #2 */
.container2 {
    display: inline-flex;
    justify-content:space-around;
    flex-direction:column;
    align-items:stretch;
    height:90vw;
    width:10vw;
    border: solid;
/*    flex-direction: row-reverse;
    flex-wrap: wrap; */
}

/* Container #3 */
.maincontent {
    display: inline-flex;
    justify-content:space-around;
    flex-direction:column;
    align-items:stretch;
    height:80vh;
    width:80vw;
    border: solid;
/*    flex-direction: row-reverse;
    flex-wrap: wrap; */
}

/* Container #3 */
.copyright {
    display: flex;
    justify-content:space-around;
    flex-direction:column;
    align-items:center;
    height:10vw;
    border: solid;
/*    flex-direction: row-reverse;
    flex-wrap: wrap; */
}


.navBar > div {
    flex-grow: 1;
}

.maincontent > div {
    flex-grow: 1;
}

.copyright > div {
    flex-grow: 1;
}

#flexgrowtest {
    flex-grow: 2;
}