  @media only screen and (max-width: 1000px) {
    body {
      background-color:darkred;
    }
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.box {
    flex:1;
    height:100px;
    width:100px;
}

.box3 {
    order:1;
}